LPOO2-GRUPO2.suo
ClasesBase/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Vistas/bin/Debug/Vistas.exe
Vistas/bin/Debug/Vistas.pdb
Vistas/obj/x86/Debug/App.baml
Vistas/obj/x86/Debug/App.g.cs
Vistas/obj/x86/Debug/App.g.i.cs
Vistas/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Vistas/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Vistas/obj/x86/Debug/EstilosGenerales.baml
Vistas/obj/x86/Debug/PlantillasGenerales.baml
Vistas/obj/x86/Debug/Vistas.csproj.FileListAbsolute.txt
Vistas/obj/x86/Debug/Vistas.csproj.GenerateResource.Cache
Vistas/obj/x86/Debug/Vistas.csprojResolveAssemblyReference.cache
Vistas/obj/x86/Debug/Vistas.exe
Vistas/obj/x86/Debug/Vistas.g.resources
Vistas/obj/x86/Debug/Vistas.pdb
Vistas/obj/x86/Debug/Vistas_MarkupCompile.cache
Vistas/obj/x86/Debug/Vistas_MarkupCompile.i.cache
Vistas/obj/x86/Debug/WinAltaCliente.baml
Vistas/obj/x86/Debug/WinAltaCliente.g.cs
Vistas/obj/x86/Debug/WinAltaCliente.g.i.cs
Vistas/obj/x86/Debug/WinAltaPelicula.baml
Vistas/obj/x86/Debug/WinAltaPelicula.g.cs
Vistas/obj/x86/Debug/WinAltaPelicula.g.i.cs
Vistas/obj/x86/Debug/WinLogin.baml
Vistas/obj/x86/Debug/WinLogin.g.cs
Vistas/obj/x86/Debug/WinLogin.g.i.cs
